<% if @loggedin == false %>
    <p>Either email or password doesn't match</p>
<% end %>
<h1>Sign in</h1>
<form method="POST" action="<%= login_path %>">
<%= token_tag %>
    <label for="email">Email</label>
    <input type="email" name="email" id="email"> 
    <label for="password">Password</label>
    <input type="password" name="password" id="password"> 
    <input type="submit" value="login">  
</form>