<%= form_with(model: checkbox, local: true) do |form| %>
  <% if checkbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkbox.errors.count, "error") %> prohibited this checkbox from being saved:</h2>

      <ul>
      <% checkbox.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
