<html >
<head>
    <title>Dropdown</title>
    <script src="drop.js"></script>
</head>
<body>
<select  id="ddselect" onchange="ddlselect();">
   <option value="price1">Select city</option>
   <option value="price1">Akole</option>
   <option value="price2">Pune</option>
   <option value="price3">Mumbai</option>
</select>
<input type="text" id="txtvalue" />
</body>
</html>