<html >
<head>
    <title>Dropdown</title>
    <script src="dropdown.js"></script>
</head>
<body>
<input type="textbox" id="myTextbox" />
<select id="ddlModel">
<option value="">--Select--</option>
<option value="Nashik">Nashik</option>
<option value="Pune">Pune</option>
<option value="Mumbai">Mumbai</option>
<option value="Nagar">Nagar</option>
</select>

    <%# <div align="center">
        <select name="ddlContent" id="ddlContent" onchange="SelectedTextValue(this)">
            <option selected="selected" value="">City</option>
            <option value="1">Pune</option>
            <option value="2">Mumbai</option>
        </select>
        <input name="txtContent" type="text" id="txtContent" />
    </div> %>
</body>
</html>