<html >
<head>
    <title>Dropdown</title>
    <script src="dropdown.js"></script>
</head>
<body>
<select Id="myDropdown">
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>

<input id="txtBox" type="text">

    <%# <div align="center">
        <select name="ddlContent" id="ddlContent" onchange="SelectedTextValue(this)">
            <option selected="selected" value="">City</option>
            <option value="1">Pune</option>
            <option value="2">Mumbai</option>
        </select>
        <input name="txtContent" type="text" id="txtContent" />
    </div> %>
</body>
</html>